* {box-sizing: border-box}

body {font-family: Arial, Helvetica, sans-serif;}
.register-form {
	border: 3px solid #f1f1f1;
	min-width: 150px;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
	}

/* Add padding to containers */
.register-form__inner-container {
  padding: 16px;
}

/* Full-width input fields */
.register-form__input-text, .register-form__input-pass{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

register-form__input-text:focus, register-form__input-pass:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
.register-form__hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.register-form__btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.register-form__btn:hover {
  opacity:1;
}

/* Add a blue text color to links */
.register-form__link {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.register-form__signin {
  background-color: #f1f1f1;
  text-align: center;
}