/*Side Menu*/
.vertical-menu {
  width: 100%;
  flex-direction: column;
}

.vertical-menu__link {
  background-color: #e0e0e0; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  border:1px gray;
  margin: 1px;
}

.vertical-menu__link:hover {
  background-color: #ccc;  /*Dark grey background on mouse-over */
  color: black; /* Black text color */
}

.vertical-menu__link_active {
  background-color: #04AA6D; /* Add a green color to the "active/current" link */
  color: #ccc;
}