@import "topnav.css";
@import "sidenav.css";
@import "login.css";
@import "register.css";
@import "product_card.css";
@import "footer.css";

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

/* Style the body */
body {
	font-family: Arial;
}

.container_1{
	margin-top: 10%;
    text-align: center;
}

/* Header/logo Title */
.header {
	padding: 10px;
	text-align: center;
	background: #1abc9c;
	color: white;
}

/*left and main in one container*/
.main-container {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.content {
  flex: 70%;
  background-color: white;
    padding: 20px;
  
  display: flex;
  flex-wrap: wrap;
  background-color:  #f1f1f1;
  
  margin-bottom: 100px;
}

.error-img-container{
	display: grid;
    height: 33%;
    width: 33%;
    max-height: 100vh;
    margin: auto;
}

.error-img-container__img {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}


/* MEDIA */
@media screen and (max-width: 700px) {

 .row,
 .topnav, 
 .dropdown {
	flex-direction: column;
 }
 
 .topnav {
	display:flex;
}

.header {
	padding: 3px;	
}

.footer {
	padding: 3px;
}
 
}