<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<!-- Also known as the deployment descriptor. This file is in charge of 
		mapping URL patterns to the servlets that would handle requests sent to that 
		URL -->
		
<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>	

	<servlet>
		<servlet-name>DirectServlet</servlet-name>
		<servlet-class>com.revature.servlets.DirectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DirectServlet</servlet-name>
		<url-pattern>/direct</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PlayServlet</servlet-name>
		<servlet-class>com.revature.servlets.PlayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlayServlet</servlet-name>
		<url-pattern>/play</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ResetServlet</servlet-name>
		<servlet-class>com.revature.servlets.ResetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetServlet</servlet-name>
		<url-pattern>/reset</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WinServlet</servlet-name>
		<servlet-class>com.revature.servlets.WinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WinServlet</servlet-name>
		<url-pattern>/win</url-pattern>
	</servlet-mapping>

</web-app>

